*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a:visited {
    color: inherit;
}

ul {
    list-style: none;
}

:root{
    --green: #39e29d;
    --green-hover: #39e29d33;
    --purple: #5762d5;
    --purple-hover: #4a53b5;
    --white: #ffffff;
    --bright-gray: #fafcff;
    --brighter-gray: #ffffffbf;
    --light-white: #ffffff8c;
    --text-primary: #000000de;
    --text-secondary: #37384b;
    --dark-bg: #262833;
    --nav-bg: #303141;
    --very-transparent-bg: #4c608533;
    --semi-transparent-bg: #4c608566;
    --brighten-transparent-bg: #4c608599;
    --solid-bg: #4c6085;
    --sidebar-bg: #2d3344;
    --expandable-bg: #2b2c3c;
    --li-color: #fafcffb3;
    --tiny: 10px;
    --small: 12px;
    --regular: 14px;
    --medium: 16px;
    --large: 18px;
    --extra-large: 20px;
    --extra-extra-large: 24px;
    --tablet-main-title: 30px;
    --desktop-main-title: 65px;
}


body {
    font-family: 'Roboto', sans-serif;
    background: #37384b;
    color: #fff;
    font-size: 14px;
    letter-spacing: .68px;
    min-height: 100dvh;
    overflow-x: hidden;
}

button {
    border: none;
    outline: none;
    background-color: unset;
}

a {
    color: var(--white);
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 20px;
}