.social-media {
    max-width: 156px;
    width: 100%;
}

.social-media .social-btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--purple);
    transition: background-color .3s ease;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: var(--purple-hover);
    }
}